@font-face {
 font-family: "Main Title Font";
 src: url(./assets/crackman.ttf);
}

@font-face {
 font-family: "Review Title Font";
 src: url(./assets/iomanoid.ttf);
}

@font-face {
 font-family: "Review Font";
 src: url(./assets/astron\ boy.ttf);
}

@font-face {
  font-family: "Review Font 2";
  src: url(./assets/ARCADE.TTF);
}

@font-face {
  font-family: "Body Font";
  src: url(./assets/Oxygen-Light.ttf);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body {
  background-color: rgb(177, 14, 14);
  background-image: url();
  color: black;
  padding: 40px;
  background-position: center;
  text-align: center;
  font-family:"Body Font"
}

.container {
  min-width:100%;
  color: Black;
  padding-top: 60px;
  padding-bottom: 100px;
 }

.display-1 {
  font-family: "Main Title Font";
  font-size: 90px;
  border: 5px solid black;
  color: black;
}
  
.signupMain, .loginMain {
  font-family: "Review Font";
  text-decoration: underline;
  font-size: 40px;
}

.subtitleMain {
  font-size: 38px;
  font-weight: 800;
}

.authButton {
  font-family: "Review Font";
  font-size: 20px;
}

.authButton:hover {
  font-size: 25px;
  border: 2px solid black;
  animation: shake 0.7s;
}

.footer {
  margin-top: 1rem;
  color: white;
  padding: 5px;
  background-color: #fcc404;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-blend-mode: normal;
}

.footerBackground {
  background-image: url(./assets/BooleanBandits.png);
  background-repeat: no-repeat;
  background-size: 62px 30px;
  background-color: #fcc404;
  background-blend-mode: multiply;
  background-position: center;
}

.popover {
  margin-left: 5px;
  border: 1px solid black;
}

.mainTitle {
  font-family: "Main Title Font";
  margin-left: 10px;
  font-size: 55px;
  color: black;
}

.logoutButton {
  font-family: "Review Font";
  font-size: 20px;
}

.logoutButton:hover {
  border: 2px solid black;
  animation: shake 0.7s;
}

[class^="hvr-"] {
	cursor: pointer;
  text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hvr-sweep-to-right {
  display: inline-block;
  margin: .4em;
	padding: 10px;
  background: #fcc404;
	color: black;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-family: "Review Font";
  font-size: 24px;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #fcc404;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.reviewCard {
  color: black;
  margin: 15px;
  border: 3px solid black;
}

.reviewButton {
  margin: 5px;
}
/* API Search CSS */
.searchBtn{
  font-family: "Review Font";
  font-size: 20px;
}

.reviewButton:hover {
  font-size: 25px;
  border: 2px solid black;
}

.modalHeader {
  font-family: "Review Font";
}

.modalTitle {
  font-family: "Review Font 2";
  font-size: 28px;
  margin: 25px 0 3px 0;
}

.updateButton {
  font-family: "Review Font";
  font-size: 20px;
  margin: 20px 0 0 0;
}

.updateButton:hover {
  font-size: 25px;
  border: 2px solid black;
}

.table {
  margin: 30px 10px;
}

.noReviews {
  font-family: "Review Font 2";
  font-size: 50px;
  margin-top: 50px;
}
.searchBtn:hover {
  font-size: 25px;
  border: 2px solid black;
  animation: shake 0.7s;
}

.clearBtn {
  font-family: "Review Font";
  font-size: 20px;
}

.clearBtn:hover {
  font-size: 25px;
  border: 2px solid black;
  animation: shake 0.7s;
}