body {
  background-color: rgb(177, 14, 14);
  background-image: url();
    color: white;
    padding: 40px;
    background-position: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

 .container {
    min-width:100%;
    color: Black;
   padding-top: 60px;
   padding-bottom: 100px;
 }

 @font-face {
  font-family: "Main Title Font";
  src: url(./assets/crackman.ttf);
}

@font-face {
  font-family: "Review Title Font";
  src: url(./assets/iomanoid.ttf);
}

@font-face {
  font-family: "Review Font";
  src: url(./assets/astron\ boy.ttf);
}

.display-1 {
  font-family: "Main Title Font"
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-blend-mode: normal;
}

.footerBackground {
  background-image: url(./assets/BooleanBandits.png);
  background-repeat: no-repeat;
  background-size: 53px 27px;
  background-color: rgb(235, 195, 64);
  background-blend-mode: multiply;
  background-position: center;
}